body {
    background-color: rgba(205, 226, 180, 0.24);
}
p { 
    color: blue;
    font-size: 20px;
}
.center {
    text-align: center;
}
.vermelho {
    color: red;
}
.fonte-30 {
    font-size: 30px;
}
#teste {
    color: rgb(0, 0, 0);
    background-color: rgba(126, 126, 126, 0.144);
}