h2 {
    color: white;
    font-size: 14px;
}
/*Smartphones (600px para baixo) */
@media only screen and (max-width: 600px){
    body {
        background: blue;
    }
}
/* Dispositivos um pouco maiores, mas ainda pequenos (Peuqenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    body {
        background: green;
    }
}
/* Dispositivos Médios (tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    body {
        background: yellow;    
    }
     h2 {
        font-size: 22px;
    }
       .exemplo {
        display: none;
    }
}
/* Dispositivos largos (laptops / Desktops, 992px para cima) */
@media scrren and (min-width: 992px) {
    body {
        background: red;
    }  
}
/* Super Largos( Telas maiores laptops, desktops e até Tvs, 1200px para cima)*/
@media only screen and (min-max: 1200px) {
    body {
        background: violet;
    }
}
